// app global css in Sass form
// body
//   font-family: 'Product Sans Regular'
.see-more
  width: 100%
  padding-top: 10px
  padding-bottom: 10px

.version
  font-weight: 400
  color: $blue-grey-9

.back-button
  right: 10px
  padding-right: 2px !important
  padding-left: 8px !important

.mobile-save-btn-wrapper div
  width: 100%

.mobile-save-btn-wrapper .q-btn--fab
  min-height: 20px !important
  padding: 10px

.page-title-pl-5
  margin-left: -10px !important

.btn-w100
  width: 100%

.btn-w98
  width: 98%

.btn-w95
  width: 95%

.date-filter
  margin-right: 10px

.custom-dropdown
  margin-top: -10px

.custom-fab
  z-index: 999 !important

.bottom-border
  border-bottom: 1px solid $grey-4

.main-feature .q-tab__icon
  width: 40px
  height: 40px
  font-size: 30px

.q-btn.custom-round,
.q-btn-group.custom-round,
.q-card.custom-round,
.save-btn
  border-radius: 1rem !important

.save-btn
  padding-left: 1rem !important
  padding-right: 1rem !important

.login-layout
  background: #f0f4f9
  // margin-top: -15px
  overflow: hidden

.rounded-field .q-field__control
  border-radius: 15px !important

.login-card
  border-radius: 1rem
  padding: 1rem
  box-shadow: $light-shadow
  -webkit-box-shadow: $webkit-light-shadow
  -moz-box-shadow: $moz-light-shadow

.content-card, .su-box-shadow
  box-shadow: $light-shadow-1
  -webkit-box-shadow: $webkit-light-shadow-1
  -moz-box-shadow: $moz-light-shadow-1

.su-menu-item
  border-radius: 0.75rem
  // letter-spacing: 0.5px

.force-elevated
  z-index: 999 !important

.justify-data-options
  padding-right: 0
