// app global css in Sass form
// body
//   font-family: 'Product Sans Regular'

.q-btn.custom-round,
.q-btn-group.custom-round,
.save-btn
  border-radius: 1rem !important

.save-btn
  padding-left: 1rem !important
  padding-right: 1rem !important

@media(max-width: $breakpoint-sm-min)
  .save-btn
    padding-top: 1rem !important
    padding-bottom: 1rem !important

.login-layout
  background: #f0f4f9
  // margin-top: -15px
  overflow: hidden

.rounded-field .q-field__control
  border-radius: 15px !important

.login-card
  border-radius: 1rem
  padding: 1rem
  box-shadow: $light-shadow
  -webkit-box-shadow: $webkit-light-shadow
  -moz-box-shadow: $moz-light-shadow

.content-card
  box-shadow: $light-shadow-1
  -webkit-box-shadow: $webkit-light-shadow-1
  -moz-box-shadow: $moz-light-shadow-1

.su-menu-item
  border-radius: 0.75rem
  // letter-spacing: 0.5px

.force-elevated
  z-index: 999 !important

.justify-data-options
  padding-right: 0

@media (min-width: 1023px)
  .justify-data-options
    padding-right: 10px


