@media(max-width: $breakpoint-xs-max)
  .login-card
    padding: 0.2rem

  .mobile-save-btn
    width: 100% !important
    letter-spacing: 0.5px
    border-radius: 2rem !important

@media(max-width: $breakpoint-sm-max)
  .date-filter
    width: 95%
    margin-bottom: 10px
    margin-left: 15px
